nav {background-color: hsl(260, 9%, 45%);}
body{background-color:#b5abc8}
img{float:right; width:4cm ;height: 4,5cm;}
h1 {text-align:center;}

#Theaching { border:3px solid rgb(49, 40, 48); border-radius:1em; margin: 5% ;
        background-image:radial-gradient(rgb(156, 126, 139),#9286ac);
	}


#Etudes { border:3px solid #000; border-radius:1em; margin: 5% ;
          box-shadow: 0 0 10px;
          background-image:radial-gradient(white,#b18cb8);
	    }

footer {border-top: solid thin black;
        background-color:#7a5f87;
        font-size: smaller;
	 }
	 
@media (max-width: 800px){
nav {background-color: hsl(260, 9%, 45%);}
body{background-color:#b5abc8}
img{float:right; width:3cm ;height: 3,5cm;}
#Theaching { border:3px solid rgb(49, 40, 48); border-radius:1em; margin: 3% ;
            background-image:radial-gradient(rgb(156, 126, 139),#9286ac);
        }

#Etudes { border:3px solid #000; border-radius:1em; margin: 1% ;
          box-shadow: 0 0 5px;
          background-image:radial-gradient(white,#b18cb8);
	    }
footer {background-color:#7a5f87;}
                         }