nav {background-color: #A180E3;}
body{background-color:#8B5FE2}
img{float:right; width:4cm ;height: 4,5cm;}
h1 {text-align:center;}

#COURS { border:3px solid #000; border-radius:1em; margin: 5% ;
        background-image:radial-gradient(white,#A986F0);
	   }
#Experience{ border:3px solid #000; border-radius:1em; margin: 2% ;
             box-shadow: 0 0 10px;
             background-image:radial-gradient(white,#A986F0);
		   }
#Etudes { border:3px solid #000; border-radius:1em; margin: 2% ;
          box-shadow: 0 0 10px;
          background-image:radial-gradient(white,#A986F0);
	    }
#Langues { border:3px solid #000; border-radius:1em; margin: 2% ;
           box-shadow: 0 0 10px;
           background-image:radial-gradient(white,#A986F0);
		 }
#Loisirs { border:3px solid #000; border-radius:1em; margin: 2% ;
           box-shadow: 0 0 10px;
           background-image:radial-gradient(white,#A986F0);
		 }
footer {border-top: solid thin black;
      background-color:#A180E3;
      font-size: smaller;
	 }
	 
@media (max-width: 800px){
nav {background-color: #D791BD}
body{background-color: #B66097}
img{float:right; width:3cm ;height: 3,5cm;}
#COURS { border:3px solid #000; border-radius:1em; margin: 3% ;
        background-image:radial-gradient(white,#CA75AB);
		}
#Experience{ border:3px solid #000; border-radius:1em; margin: 1% ;
             box-shadow: 0 0 5px;
             background-image:radial-gradient(white,#CA75AB);
		   }
#Etudes { border:3px solid #000; border-radius:1em; margin: 1% ;
          box-shadow: 0 0 5px;
          background-image:radial-gradient(white,#CA75AB);
	    }
#Langues { border:3px solid #000; border-radius:1em; margin: 1% ;
           box-shadow: 0 0 5px;
           background-image:radial-gradient(white,#CA75AB);
		 }
#Loisirs { border:3px solid #000; border-radius:1em; margin: 1% ;
           box-shadow: 0 0 5px;
           background-image:radial-gradient(white,#CA75AB);
		 }
footer {background-color:#D791BD;}
                         }